parameters:
	scanDirectories:
		- %currentWorkingDirectory%/tests/Support

	paths:
		- %currentWorkingDirectory%/src
		- %currentWorkingDirectory%/tests

	excludePaths:
		analyse:
			- %currentWorkingDirectory%/tests/Support
			- %currentWorkingDirectory%/tests/data

	tmpDir:
		%rootDir%/tmp/phpstan

	treatPhpDocTypesAsCertain: false

	level: 10

	editorUrlTitle: '%%relFile%%:%%line%%'